# Statistics for filopodia density for different Ena treatments

In [3]:
import pandas as pd

In [4]:
fd = pd.read_csv('Filopodia.csv', index_col = "Cell")

In [5]:
fd.head()

      Treatment  Filopodia  Perimeter
Cell
1             1          7    672.092
2             1         26   1465.705
3             1         21   1353.454
4             1         13   1839.831
5             1          4   1437.496

In [6]:
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [7]:
fd['FperP'] = fd['Filopodia'] / fd['Perimeter']

In [8]:
fd.head()

      Treatment  Filopodia  Perimeter     FperP
Cell
1             1          7    672.092  0.010415
2             1         26   1465.705  0.017739
3             1         21   1353.454  0.015516
4             1         13   1839.831  0.007066
5             1          4   1437.496  0.002783

In [9]:
treat = fd.groupby('Treatment')

In [10]:
treat.describe()

          Filopodia                                                     FperP  \
              count       mean        std  min   25%   50%    75%   max count
Treatment
0              35.0  20.200000  18.602340  3.0  9.00  15.0  23.00  92.0  35.0
1              33.0  13.121212  10.667584  4.0  5.00  10.0  17.00  56.0  33.0
3              46.0  12.195652  10.391491  1.0  5.25   9.0  15.75  45.0  46.0

                       ...                        Perimeter               \
               mean    ...          75%       max     count         mean
Treatment              ...
0          0.018660    ...     0.028582  0.045705      35.0  1222.489600
1          0.010134    ...     0.015635  0.027977      33.0  1348.229273
3          0.010314    ...     0.013663  0.027423      46.0  1229.610674


                  std      min        25%        50%         75%       max
Treatment
0          625.833675  337.553  725.07150  1304.0460  1610.34600  2823.191
1          519.992733  487.530  992.09200  1341.5350  1627.78600  2721.441
3          641.272179  255.258  693.36575  1132.1625  1661.80425  3490.846

[3 rows x 24 columns]

In [11]:
treat.mean()

           Filopodia    Perimeter     FperP
Treatment
0          20.200000  1222.489600  0.018660
1          13.121212  1348.229273  0.010134
3          12.195652  1229.610674  0.010314

In [15]:
treat.std()

           Filopodia   Perimeter     FperP
Treatment
0          18.602340  625.833675  0.012174
1          10.667584  519.992733  0.006892
3          10.391491  641.272179  0.006935

In [45]:
from scipy.stats import ttest_ind

In [17]:
#scipy.stats.ttest_ind(cat1['values'], cat2['values'], equal_var=False)
#two_data = pd.DataFrame(data, index=data['Category'])

In [46]:
fd0 = fd[fd["Treatment"] == 0]

In [47]:
fd1 = fd[fd['Treatment'] == 1]

In [48]:
fd3 = fd[fd['Treatment'] == 3]

In [49]:
ttest_ind(fd0['FperP'], fd1['FperP'], equal_var = False)

Ttest_indResult(statistic=3.5793281726652557, pvalue=0.00073422650287696635)

In [50]:
ttest_ind(fd0['FperP'], fd3['FperP'], equal_var = False)

Ttest_indResult(statistic=3.6319216596679866, pvalue=0.00065697215656822727)

In [51]:
ttest_ind(fd0['Filopodia'], fd3['Filopodia'], equal_var = False)

Ttest_indResult(statistic=2.2884031245231129, pvalue=0.026382131556748258)

In [52]:
ttest_ind(fd0['Perimeter'], fd3['Perimeter'], equal_var = False)

Ttest_indResult(statistic=-0.050190378016323069, pvalue=0.96010549033213133)

In [30]:
treat.std()

           Filopodia   Perimeter     FperP
Treatment
0          18.602340  625.833675  0.012174
1          10.667584  519.992733  0.006892
3          10.391491  641.272179  0.006935

In [31]:
treat.size()

Treatment
0    35
1    33
3    46
dtype: int64

In [32]:
treat.std() / np.sqrt(treat.size())

/Users/Alyssa/anaconda3/lib/python3.6/site-packages/pandas/core/indexes/base.py:3033: RuntimeWarning: '<' not supported between instances of 'str' and 'int', sort order is undefined for incomparable objects
  return this.join(other, how=how, return_indexers=return_indexers)

           Filopodia  Perimeter  FperP   0   1   3
Treatment
0                NaN        NaN    NaN NaN NaN NaN
1                NaN        NaN    NaN NaN NaN NaN
3                NaN        NaN    NaN NaN NaN NaN

In [33]:
np.sqrt([35, 33, 46])

array([ 5.91607978,  5.74456265,  6.78232998])

In [34]:
treat.sem()

           Filopodia   Perimeter     FperP
Treatment
0           3.144369  105.785199  0.002058
1           1.856988   90.519116  0.001200
3           1.532142   94.550425  0.001023

In [35]:
fd.head()

      Treatment  Filopodia  Perimeter     FperP
Cell
1             1          7    672.092  0.010415
2             1         26   1465.705  0.017739
3             1         21   1353.454  0.015516
4             1         13   1839.831  0.007066
5             1          4   1437.496  0.002783

In [36]:
fd['um Perimeter'] = fd.Perimeter * 0.1083

In [37]:
fd.head()

      Treatment  Filopodia  Perimeter     FperP  um Perimeter
Cell
1             1          7    672.092  0.010415     72.787564
2             1         26   1465.705  0.017739    158.735851
3             1         21   1353.454  0.015516    146.579068
4             1         13   1839.831  0.007066    199.253697
5             1          4   1437.496  0.002783    155.680817

In [41]:
fd.FperP = fd.Filopodia / fd['um Perimeter']
# update FperP for um

In [40]:
fd.head()

      Treatment  Filopodia  Perimeter     FperP  um Perimeter
Cell
1             1          7    672.092  0.096170     72.787564
2             1         26   1465.705  0.163794    158.735851
3             1         21   1353.454  0.143267    146.579068
4             1         13   1839.831  0.065243    199.253697
5             1          4   1437.496  0.025694    155.680817

In [42]:
treat2 = fd.groupby('Treatment')

In [43]:
treat2.mean()

           Filopodia    Perimeter     FperP  um Perimeter
Treatment
0          20.200000  1222.489600  0.172296    132.395624
1          13.121212  1348.229273  0.093569    146.013230
3          12.195652  1229.610674  0.095235    133.166836

In [44]:
treat2.std()

           Filopodia   Perimeter     FperP  um Perimeter
Treatment
0          18.602340  625.833675  0.112410     67.777787
1          10.667584  519.992733  0.063642     56.315213
3          10.391491  641.272179  0.064039     69.449777

In [53]:
fd0 = fd[fd["Treatment"] == 0]

In [54]:
fd1 = fd[fd["Treatment"] == 1]

In [55]:
fd3 = fd[fd["Treatment"] == 3]

In [56]:
ttest_ind(fd0['FperP'], fd1['FperP'], equal_var = False)

Ttest_indResult(statistic=3.5793281726652557, pvalue=0.00073422650287696635)

In [57]:
ttest_ind(fd0['FperP'], fd3['FperP'], equal_var = False)

Ttest_indResult(statistic=3.6319216596679866, pvalue=0.00065697215656822727)

In [58]:
ttest_ind(fd0['um Perimeter'], fd1['um Perimeter'], equal_var = False)

Ttest_indResult(statistic=-0.90312564757493974, pvalue=0.3697942893862699)

In [59]:
treat2.sem()

           Filopodia   Perimeter     FperP  um Perimeter
Treatment
0           3.144369  105.785199  0.019001     11.456537
1           1.856988   90.519116  0.011079      9.803220
3           1.532142   94.550425  0.009442     10.239811